<!-- <style>
.btn-search {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
}

.btn-search:hover {
  background-color: #fe424d;
  color: #fff;
}

.btn-search i {
  margin-right: 0.5rem;
}

.search-inp {
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.offcanvas-header {
  border-bottom: 1px solid #ddd;
}
</style> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="/"> 
      <i class="bi bi-compass-fill text-danger"></i> Wanderlust
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column flex-lg-row" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center w-100">

        <li class="nav-item me-lg-3">
          <a class="nav-link" href="/listings/new">Added a airbnb</a>
        </li>

        <% if (!currUser) { %>
          <li class="nav-item me-lg-3">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <li class="nav-item me-lg-3">
            <a class="nav-link" href="/login"><b>Login</b></a>
          </li>
        <% } else { %>
          <li class="nav-item me-lg-3">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
        <% } %>

        <li class="nav-item mt-2 mt-lg-0 w-100 w-lg-auto">
          <form class="d-flex w-100" role="search" action="/search" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search destination" name="q" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

