<!-- <style>
.btn-search {
  background-color: #fe424d;
  color: #fff;
  border-radius: 25px;
}

.btn-search:hover {
  background-color: #fe424d;
  color: #fff;
}

.btn-search i {
  margin-right: 0.5rem;
}

.search-inp {
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.offcanvas-header {
  border-bottom: 1px solid #ddd;
}
</style> -->

<!-- Navbar -->
<nav class="navbar navbar-light bg-light px-3">
  <div class="container-fluid">
    <!-- Offcanvas toggle button -->
    <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
      <i class="bi bi-list fs-3"></i> <!-- Burger icon -->
    </button>

    <a class="navbar-brand fw-bold fs-4" href="/">Airbnb Clone</a>
  </div>
</nav>

<!-- Offcanvas Sidebar Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Explore</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listings">All Listings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listings/new">Add a Airbnb</a>
      </li>

      <% if (!currUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="#">Hello, <%= currUser.username %></a>
        </li>
        <li class="nav-item">
          <form action="/logout?_method=POST" method="POST">
            <button class="btn btn-outline-danger mt-2">Logout</button>
          </form>
        </li>
      <% } %>
    </ul>
  </div>
</div>
